# -------- PYTHON --------
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Logs
*.log

# Databases
db.sqlite3
db.sqlite3-journal
data/
*.db

# Environments
.env
.envrc
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter
.ipynb_checkpoints

# PyBuilder
.pybuilder/
target/

# MyPy & Type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.ruff_cache/

# Editors / IDEs
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# Mkdocs / Sphinx
/site
docs/_build/

# Abstra
.abstra/

# Cursor AI
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
